.bodywhole{
    background-color: white;
    align-items: center;
}
/* .flex-container{
  background-color: white;
  flex-direction: row;
} */
.doctors{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(1, 370px);
  width: 100%;
  margin: auto;
}
.doctors2{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(1, 370px);
  width: 100%;
  margin: auto;
}
/* #doctors>div{
  
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} */
/* @media (max-width: 800px) {
  .flex-container {
    flex-basis: 25%;
    flex: 3;
    flex-direction: column;
    

  }
} */
/* @media all and (min-width: 451px) and (max-width: 750px) {
  .third{
     grid-template-columns:repeat(2,1fr);
     grid-template-rows: repeat(2,auto);
  }
   }
   /* Small screens */
   /* @media all and (min-width: 100px) and (max-width: 450px) {
     .third{
     grid-template-columns:repeat(1,1fr);
     grid-template-rows: repeat(1,auto);
  }
   } */ 
   @media all and (min-width: 451px) and (max-width: 750px) {
    .doctors,.doctors2{
      display: grid;
       grid-template-columns:repeat(2,1fr);
       grid-template-rows: repeat(2,auto);
    }
     }
     @media all and (min-width: 751px) and (max-width: 1024px) {
      .doctors,.doctors2{
         grid-template-columns:repeat(2,1fr);
         grid-template-rows: repeat(1,auto);
         width: max-content;
         overflow: hidden;
      }
       }
     /* Small screens */
     @media all and (min-width: 100px) and (max-width: 450px) {
       .doctors,.doctors2{
       grid-template-columns:repeat(2,1fr);
       grid-template-rows: repeat(1,auto);
       width: 400px;
       align-items: center;
       margin: auto;
    }

     }




     .doctors3{
      display: grid;
      grid-template-columns: repeat(6,1fr);
      grid-template-rows: repeat(1, auto);
      width: 80%;
      margin: auto;
      border: red;

    }
    
       @media all and (min-width: 451px) and (max-width: 750px) {
        .doctors3{
           grid-template-columns:repeat(3,1fr);
           grid-template-rows: repeat(3,600px);
           height: 600px;
           margin: auto;
           border: red;
        }
         }
         @media all and (min-width: 751px) and (max-width: 1024px) {
          .doctors3{
             grid-template-columns:repeat(3,1fr);
             grid-template-rows: repeat(2,auto);
             width: 660px;
             margin: auto;

          }
           }
         /* Small screens */
         @media all and (min-width: 100px) and (max-width: 450px) {
           .doctors3,.season{
           grid-template-columns:repeat(3,1fr);
           grid-template-rows: repeat(1,auto);
           width: auto;
           margin: auto;

        }
    
         }
.topsell{
}

@media all and (min-width: 451px) and (max-width: 750px) {
  .topsell{
     grid-template-columns:repeat(3,1fr);
     grid-template-rows: repeat(3,600px);
     height: 600px;
     border: 1px solid red;
  }
   }
   @media all and (min-width: 751px) and (max-width: 1024px) {
    .topsell{
       grid-template-columns:repeat(3,1fr);
       grid-template-rows: repeat(2,auto);
       width: max-content;
       border: 1px solid red;

    }
     }
   /* Small screens */
   @media all and (min-width: 100px) and (max-width: 450px) {
     .topsell{
     grid-template-columns:repeat(1,1fr);
     grid-template-rows: repeat(1,auto);
  }

   }


.thirdGrid{
    padding:15px ;
    width:360px ;
    height:400px ;

}
.center{
    background-color: #D9DDDC;

}
.card{
    background-color: whitesmoke;
    height: 450px;
}
.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 500px;
  
    /* width: 100%; */
    z-index: -1;
    /* margin-bottom: -150px; */
    /* mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)); */
  }
  .sideContainer{
    margin-left: 600px;
    margin-top: -55px;
    white-space: pre-wrap;
    text-align: left

}
.slider{
  display: flex;
  justify-content: space-around;
  margin: 0px;

}


.carousel-container {
  width: 850px; 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* margin-top: -60px; */
}

.carousel-container2 {
  width: 1340px; 
  display: grid;
  flex-direction: column;
  justify-content: space-around;
  /* margin-top: -60px; */
  grid-template-columns:repeat(3,1fr);

}


@media all and (min-width: 451px) and (max-width: 750px) {
  .carousel-container2,.carousel-container{
     grid-template-columns:repeat(3,1fr);
     grid-template-rows: repeat(3,600px);
     width: auto; 
overflow: hidden;
display: none;
  }
   }

   @media all and (min-width: 751px) and (max-width: 1024px) {
    
    .carousel-container2.carousel-container{
      overflow: hidden;
width: 10%;
    }.carousel-wrapper{
      display: none;
    }
    .card{
display: flex;  }
    .left-arrow.right-arrow{
      display: inline-block;
    }
     }
   /* Small screens */
   @media all and (min-width: 100px) and (max-width: 450px) {
     .carousel-container2.carousel-container{
     display: none;
     overflow: hidden;
  }
  .carousel-wrapper{
    display: none;
  }
   }







.carousel-container>div>div {
   
  height: 440px;

}
.carousel-wrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.carousel-content-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel-content {
  display: flex;
  transition: all 250ms linear;
  -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
  scrollbar-width: none;  /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}

.carousel-content.show-2 > * {
  width: 150%;
}

.carousel-content.show-3 > * {
  width: calc(100% / 3);
}

.carousel-content.show-4 > * {
  width: calc(100% / 4);
}

.left-arrow, .right-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-60%);
  width: 58px;
  height: 58px;
  background-color:white;
  border: 1px solid black;
  border-radius: 50%;
}

.left-arrow {
  left: 24px;
}

.right-arrow {
  right: 24px;
}

@media (hover:-webkit-scrollbar) and (pointer: coarse) {
  .left-arrow, .right-arrow {
      display: none;
  }
  .carousel-wrapper{
    display: none;
  }
}
.imh{
  width: 10%;
}

.category{
  display: flex;
  flex-direction: row;
  margin-top: 80px;
}
.head{
  margin-top: 50px;
}
.friday{
  display: flex;
  flex-direction: row;
}
.card{
  align-items: center;
}

.Ccontainer{
  padding: 10px;
  display: flex;
  gap: 63px;
  margin-left: 450px;
  cursor: pointer;
}
.Ccontainer:hover{
  border: black;
}
.ground:hover{
  text-decoration: underline;
}