#qty_payment{
    padding: 10px;
}

@media  (min-width:600px) and (max-width: 1500px)  {
    #singlePage_main{
        display: grid;
        /* grid-template-columns: repeat(1,1fr); */
        flex-wrap: wrap;
        gap: 20px;
        border: 1px solid red;
        width: 70%;
        margin: auto;
    }
  }


  .proAdd {
    display: flex;
    align-items: center;
    margin: 10px 0;
    gap: 1rem;
  }
  .proAdd button {
    background-color: #cf112c;
    color: white;
    padding: 10px 2rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
  }
  .proAdd button:hover {
    background-color: #ed2241;
  }
  .proAdd div {
    font-size: 30px;
    color: #ed2241;
  }